.CardMetodologias{
    /* display: flex; */
    flex-direction: column;
    /* background-color: bisque; */
    width: 86%;
    height: 28vh;
    border: 1px solid rgba(206, 206, 206, 0.199);
    margin-top: 5%;
    border-radius: 5%;
    padding: 0%;
    background-color: #ecececb6;
    /* backdrop-filter: blur(55px); */
}
.CardMetodologias .title{
    width: 100%;
    display: flex;
    /* background-color: aquamarine; */
    align-items: baseline;
    padding: 0%;
    margin: 0%;
}
.CardMetodologias .title .icon{
    width: 30%;
    margin: 0%;
    display: flex;
    scale: 3.5;
    justify-content: center;
    color: #10b981be;
    align-items: center;
    /* padding-top: 1%; */
    /* background-color: blueviolet; */
}
.CardMetodologias .title h2{
    width: 70%;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.712);
    /* height: 100%; */
    /* margin-bottom: 5%; */
    /* background-color: pink; */
}
.CardMetodologias p{
    padding: 0% 0 0 5%;
}
.CardMetodologias a{
    padding: 3% 0 5% 5%;

}