.metodologias{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.metodologias .titulo{
    color: #3f3f46;
    margin: 0;
    width: 90%;
    text-align: left;
    text-justify: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dark .metodologias .titulo{
    color: white;
}