.soft_skills h2{
    border: solid gray 1px;
    width: 25%;
    display: flex;
    justify-content: space-around;
    color: #262626;
    margin: 15% 0% 5% 5%;
    height: 4vh;
    align-items: center;
    padding:1% 3%;
    font-size: medium;
    border-radius: 15px;
}
.dark .soft_skills h2{
    color: white;
}


@media(min-width:768px){
    .soft_skills .cards{
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        display: flex;
        /* background-color: aqua; */
    }
    .soft_skills h2{
        width: 15%;
        font-size: larger;
        /* margin-top: 5%; */
        margin: 5%;
    }
}