.About{
    width: 100%;
    overflow: hidden;
}
.About h2{
    padding: 5% 0 0 5%;
}
.About h2 span{
    color:#047857;
}
.About h3{
    margin: 0%;
    font-weight: 400;
    padding: 0% 0 0 5%;
    font-size: 31px;
}
.dark .About h3{
    color: #d4d4d4;
}
.About h3 span{
    padding: 1%;
    font-size: 25px;
    border-radius: 45px;
    color: #047857;
}
.About p{
    padding: 0% 0 0 5%;
}
.dark .About p{
    color: #d4d4d4;
}


@media(min-width:768px){
    .About {
        width: 90%;
        margin: 0% 5%;
        border: 1px solid rgba(128, 128, 128, 0.219);
        border-top: 0px none red;
        padding-top: -1px;
    }
}
