.Home{
    /* background-color: #343a40; */
    /* height: 200vh; */
    /* background-color:#191c22  ; */
    display: flex;
    flex-direction: column;
    padding: 7% 0 5% 0;
    align-items: center;
    /* justify-content: center;     */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: gray; */
    color:#31363F;
}
.Home .image{
    /* box-shadow: ; */
    box-shadow: #7C00FE  0px 1px 8px 0px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, #4d01ff 0px 5px 40px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /* box-shadow: #7C00FE 0px 5px 15px; */
    margin-top: 3%;
    width: 45vh;
    height: 45vh;
    display: flex;
    background-color: grey;
    border-radius: 10%;
    /* border-top-right-radius:560; */
    overflow: hidden;
}
.Home .image img{
    width: 100%;
}
.Home .logos{
    width: 70%;
    height: 7vh;
    margin-top: 2%;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
.Home .logos svg{
    /* border: solid 1px black; */
    padding: 3%;
    scale: 1.3;
    border-radius: 25%;
}
.Home .buttons{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.Home button{
    margin-bottom: 5%;
    width: 40%;
    height: 7vh;
    border-radius: 45px;
    border: none;
    font-size: larger;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #01c28e;
    /* color: rgb(43, 43, 43); */
}
#button2{
    background-color: #ffc642ee;
}
.Home .apresentacao{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: grey; */
    padding: 0%;
}
.Home .apresentacao h1{
    /* width: 80%; */
    /* display: flex; */
    text-wrap: nowrap;
    font-size: 50px;
    margin: 0%;
    /* background-color: #fca311; */
    text-align: center;
    font-weight: 500;
    color: white;
    /* font-family: 'Courier New', Courier, monospace; */
}
.Home .apresentacao h1 span{
    font-weight: 200;
}
.light .Home h1{
    color:#31363F;
}
.dark .Home p{
    color:white;
}
.Home .apresentacao h2{
    margin: 2% 0 0 0 ;
    /* width: 40%; */
    text-wrap: nowrap;
    text-align: center;
    color: #ef476f;
    font-size: large;
}
.Home .apresentacao p{
    text-align: center;
}
.Home p{
    width: 90%;
    text-align: center;
    font-size: 22px;
    font-weight: 200;
}