.Home{
    height: 200vh;
}
.Home .image{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(255, 255, 255, 0.404); */
    /* background-image: url("../midias/arrow.gif"); */
    position: absolute;
    z-index: 5;
    /* left: 33%; */
    /* opacity: 0.5; */
    /* top: 55%; */
    bottom: 0%;
    /* border-radius: 100%; */
}
@media (min-width:700px){
    .Home video{
        width: 100%;
    }
}