.App{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0%;
  margin: 0%;
}
.light{
  background-color: #F5F5F7;
}
.dark{
  background-color:#171717;
}
html ::-webkit-scrollbar{
  width: 8px;
  background-color:#F5F5F7;

}
html ::-webkit-scrollbar-thumb{
  border-radius: 25px;
  color: #10b981be;
  background-color: #10b981be;
}
html{
  scroll-behavior: smooth;
}

@media(min-width:768px){
  .App{
    padding-top: 5%;
  }
}