.App{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0%;
  margin: 0%;
}
*{
  transition: 0.5s  ease;
}
.light{
  background-color: #F5F5F7;
}
.dark{
  background-color:#171717;
}
::-webkit-scrollbar{
  width: 8px;
  background-color:#171717;

}
::-webkit-scrollbar-thumb{
  border-radius: 25px;
  color: #10b981be;
  background-color: #10b981be;
}
html{
  scroll-behavior: smooth;
}