.App{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0%;
  margin: 0%;
}
.App *{
  /* animation:apper 5s linear;
  animation-timeline: view();
  animation-range: entry 50%; */
}
*{
  /* transition: 0.5s  ease; */
}
.light{
  background-color: #F5F5F7;
}
.dark{
  background-color:#171717;
}
::-webkit-scrollbar{
  width: 8px;
  background-color:#171717;

}
::-webkit-scrollbar-thumb{
  border-radius: 25px;
  color: #10b981be;
  background-color: #10b981be;
}
html{
  scroll-behavior: smooth;
}

@keyframes apper{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
@keyframes flip{
  from{
    transform: rotateY('180');
  }
  to{
    transform: rotateY('180');
  }
}