.card_projects{
    margin: 0 0 5% 7%;
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    /* align-items: center; */
    /* padding-bottom: 10%; */
    border-radius: 5%;
    /* background-color: #ececec; */
    border: solid 1px rgba(197, 197, 197, 0.062);
    position: relative;
    /* background-color: rgba(211, 211, 211, 0.555); */
}
.card_projects .tags :hover{
    /* color:#047857; */
    background-color: #0d9488;
    color:white;
}
.dark .card_projects{
    background-color: #1b1b1b;
}
.card_projects img{
    max-height: 50vh;
    margin: 3% 3%;
    /* zoom: 5; */
    /* border-top-left-radius: 5%;
    border-top-right-radius: 5%; */
    backdrop-filter: opacity(20%);
    object-fit: cover;
    width: 94%;
    border-radius: 5%;
    /* position: absolute; */
    backdrop-filter: grayscale(30%);
}
.card_projects .tags{
    /* overflow-x: scroll; */
    /* background-color: aqua; */
    width: 70%;
    /* background-color: #262626; */
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    margin:0;
    margin: 0% 3%;
    padding: 0% 0 5% 2%;
}
.card_projects span{
    /* background-color:#038d66dc; */
    /* width: 15vw; */
    /* color:#047857; */
    /* background-color: aqua; */
    /* border: solid 1px black; */
    padding: 1.5% 4%;
    font-size: 80%;
    border-radius: 15px;
    margin: 0% 5% 5% 0;
    background-color: rgba(189, 188, 188, 0.26);
    /* background-color:#6fe99ca8; */
    /* background-color:#6fe99ca8; */
    /* background-color: #64646446; */
    color: #1b1b1b7c;
    /* color: white; */
    font-weight: 500;
    font-size: medium;
}
.card_projects a :hover{
    background-color: #0d9488;
}
.dark .card_projects span{
    /* border: white solid 1px; */
    background-color: rgba(78, 78, 78, 0.178);

    color: rgba(255, 255, 255, 0.596);
}
.light .card_projects h2{
    font-size: 22px;
    /* font-size: larger; */
    /* margin: 5% 0 3% 0 ; */
    margin: 3% 5% ;
    text-align: left;
    width: 100%;
    /* padding: 0% 0 0 10%; */
    font-weight: 500;
    /* background-color: aqua; */
}
.dark .card_projects h2{
    font-size: 22px;
    font-weight: 500;
    /* background-color: aqua; */
    width: 100%;
    margin: 3% 5% ;
    /* margin: 0%; */
    /* padding-left: 10%; */
    color: white;
}
.card_projects svg{
    position: absolute;
    z-index: 5;
    scale: 1.4;
    color: white;
    border-radius: 45px;
    padding: 2%;
    background-color:#262626;
    backdrop-filter: blur(10px);
    /* transform: rotate(270deg); */
    bottom: 5%;
}
.card_projects .ver_mais{
    right: 5%;
}
.card_projects .deploy{
    right: 10%;
}
@media(min-width:768px){
    .card_projects{
        /* width: 20%; */
        /* max-width: 25%; */
        margin: 2% 0;
        width: 28%;
        height: 100%;
        background-color: #e5e5e55b;
        /* margin-bottom: 3%; */
        /* padding: 0%; */
        /* padding-bottom: 5%; */
    }
    .card_projects img{
        /* height: 30vh; */
        max-width: 100%;
        /* margin-top: 0%; */
        /* max-height: 60vh; */
        margin-bottom: 0%;
    }
    .card_projects h2{
        margin-top: 0%;
    }
    .card_projects a :hover{
        opacity: 0.8;
    }
    /* .card_projects *{
        margin: 0%;
    } */    
    .card_projects span{
        margin: 3% 3% ;
        font-weight:600;
        padding: 8% 10%;
        font-size: small;
    }
    .card_projects .tags{
        width: 30%;
        flex-wrap: nowrap;
        /* overflow: scroll; */
    }
    .card_projects svg{
        color: white;
        padding: 1.8%;
    }
    /* .card_projects .tags::-webkit-scrollbar{ */
      /* width: 10px; */
      /* height: 5px; */
      /* background-color:#171717; */
      /* display: non
      e; */
      /* color: #d4d4d4;
    }
    .card_projects::-webkit-scrollbar-thumb{
        background-color: white; */
      /* border-radius: 1px; */
      
      /* display: none; */
      /* color: #10b981be; */
      /* background-color: #10b981be; */
    }
